* {
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}

#Top-section {
    background: url('./assets/top_image.png');
    background-size: contain;
    width: 100%;
    height: 730px;
}

#top_A {
    padding-left: 120px;
    width: 40%;

}

#top_A h1 {
    padding-top: 40px;
    font-size: 45px;
    color: #000000;
}

#points {
    display: flex;
    gap: 130px;
    margin-top: 80px;
}

.p1 {
    width: 15%;
    text-align: center;
    color: #5D5D5D;
    font-size: 16px;
}

.p1 p {
    padding-top: 10px;
}

#img1 {
    position: relative;
    top: 10px;
    width: 30px;
}

#img2 {
    position: relative;
    top: 10px;
    width: 35px;
}

#img3 {
    position: relative;
    top: 9px;
    width: 45px;
}

.dot {
    height: 65px;
    width: 65px;
    background-color: #292929;
    border-radius: 50%;
    display: inline-block;
}

#top_A h2 {
    width: 85%;
    padding-top: 25px;
    color: #292929;
    font-size: 30px;
}

#second-section {
    margin-top: 0px;
    padding: 0px;
    background: url('./assets/back.png');
    background-size: contain;
    width: 100%;
    height: 625px;
}

#second_A {
    width: 40%;
    margin-left: 100px;
}

#second_A h1 {
    padding-bottom: 10px;
    font-size: 45px;
    padding-top: 90px;
}

#second_A li {
    font-size: 18px;
    color: #131313;
    padding-bottom: 20px;
}

#second_A p {
    font-size: 18px;
    color: #131313;
    padding-bottom: 20px;
}

#second_A h2 {
    font-size: 20px;
    color: #131313;
    padding-bottom: 20px;
}

#second_A ul {
    padding-left: 15px;
    padding-bottom: 20px;
}

#inquire {
    font-size: 25px;
    background-color: #F26621;
    border: none;
    color: #FFFFFF;

    padding: 10px 35px 10px 35px;
    border-radius: 9px;
}

#third-section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1.1fr 2fr;
    gap: 0px;
}

#third-section_B {
    background-color: #E5E5E5;
}

#Request {
    font-size: 25px;
    background-color: #F26621;
    border: none;
    margin-top: 20px;
    color: #FFFFFF;
    margin-left: 100px;
    padding: 10px 35px 10px 35px;
    border-radius: 9px;
}

.sections {
    display: flex;
    gap: 50px;
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    line-height: 28px;
    align-content: center;
}

#float_imgx {
    position: relative;
    left: 25px;
    top: -70px;
    width: 30px;
}

#float_img1 {
    position: relative;
    left: 18px;
    top: -70px;
    width: 45px;
}

#float_img2 {
    position: relative;
    left: 16px;
    top: -70px;
    width: 45px;
}

#float_img3 {
    position: relative;
    left: 20px;
    top: -70px;
    width: 40px;
}


#footer {
    padding: 40px 20px 30px 100px;
    background-color: #1A1A1A;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
    gap: 0px;
}

#footer_C {
    padding-top: 5px;

}

#footer_D {
    padding-top: 5px;

}

#head1 {
    text-align: left;
    font-size: 25px;
    font: normal normal 300 25px/36px Aktifo A;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.78;
    width: 239px;
    height: 31px;
}

#logo_white {
    padding-top: 24px;

    width: 170px;
}

.head2 {
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 24px;
    line-height: 40px;
}

.p3 {
    font-size: 13px;
    color: #727272;
    line-height: 20px;
}

.p4 {
    font-size: 13px;
    color: #727272;
    line-height: 20px;
}

#bottom {
    background-color: #FFFFFF;
    padding: 20px;
}

#bottom h3 {
    text-align: center;
    color: #848484;
    font-size: 16px;
}